/*

  A quick baseline grid overlay using css+svg.
  Inspired by [Basehold.it](https://basehold.it/). @author leshido

  1. Paste this at the *very* bottom of your CSS file.

  2. Change the `height` value on `<svg height="" ...>` to the value
     of your `line-height` (in pixels).

  3. Add `class="g"` to your `<html>` tag to display the grid.

 */

.g body { position: relative; }

.g body::after {
  background: url('data:image/svg+xml;utf8,<svg height="22" width="1" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="0.5" style="fill:rgba(255, 0, 0, 0.3)" /></svg>') repeat top left;
  content: "";
  display: block;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  position: absolute;
}

.g body:active::after { display: none; }
